<app-header></app-header>


  <div class="container d-flex justify-content-center">
    <div class="card w-50"> <!-- Se establece el ancho del 50% -->
      <div class="card-header">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Signup</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" name="username" id="username" formControlName="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password" id="password" formControlName="password">
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit" [disabled]="formLogin.invalid || formLogin.pending">Iniciar Sesión</button>
          </div>
        </form>
      </div>
    </div>
  </div>

