<app-header></app-header>

  <div class="container d-flex justify-content-center">
    <div class="card w-50"> <!-- Se establece el ancho del 50% -->
      <div class="card-header">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link"    routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/signup">Signup</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form [formGroup]="formSignup" (ngSubmit)="onRegister()">
          <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" name="name" id="name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" name="username" id="username" formControlName="username">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" name="email" id="email" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password" id="password" formControlName="password">
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit" [disabled]="formSignup.invalid || formSignup.pending">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>

